@model IPageViewModel<SitePageData>

<section id="footer-navbar">
    <!------------------------------ Image Nav Code Here--------------------------->
    <div>
        <nav role="navigation" class="navbar navbar-default">
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.goldennugget.com/" target="_blank"><img src="~/Static/img/logos/GN.png" alt="Golden Nugget Logo"></a></li>
                    <li><a href="http://www.sanluisresort.com/" target="_blank"><img src="~/Static/img/logos/SLR.png" alt="The San Luis Resort Logo"></a></li>
                    <li><a href="http://www.villasatsanluisresort.com/" target="_blank"><img src="~/Static/img/logos/villas.png" alt="The Villas Logo"></a></li>
                    <li><a href="http://www.galvestonhilton.com/" target="_blank"><img src="~/Static/img/logos/HT.png" alt="Hilton Galveston Logo"></a></li>
                    <li><a href="http://www.galvestonholidayinn.com/" target="_blank"><img src="~/Static/img/logos/HI.png" alt="Holiday Inn Resort Galveston Logo"></a></li>
                    <li><a href="http://www.kemahboardwalkinn.com/" target="_blank"><img src="~/Static/img/logos/BWI.png" alt="Kemah Boardwalk Inn Logo"></a></li>
                    <li><a href="http://www.westinhoustondowntown.com/" target="_blank"><img src="~/Static/img/logos/westin.png" alt="Westin Logo"></a></li>
                    <li><a href="http://www.thepostoak.com/" target="_blank"><img src="~/Static/img/logos/PO.png" alt="The Post Oak Logo"></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!------------------------------ Image Nav Code End--------------------------->
</section>
