@model IPageViewModel<SitePageData>
<!------------------------------ lightbox Code Here--------------------------->
<section id="lightbox-code">

</section>
<!------------------------------ END lightbox Code-------------------------------->