@using Landrys.ThePostOak_EpiServer
@using EPiServer.Framework.Web.Mvc.Html
@model PageViewModel<Landrys.ThePostOak_EpiServer.Models.Pages.StartPage>
@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }
<nav>
navigation goes here
</nav>
<hr />
<header>
    <h1>Hotel Accommodations</h1>
    <h4>The tower's luxury hotel &amp; all its amenities</h4>
</header>
<hr />
<div>

</div>
<hr />
<main>

</main>
<hr />
<div>

</div>
<footer>

</footer>